<!DOCTYPE html>
<html>
    <head>
        <title>Dan</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, inital-scale=1"/>
        <link rel="stylesheet" href="/static/style.css"/>
        <script src="/static/logic.jss"></script>
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/">home</a>
            <a href="publications">publications</a>
            <a href="code">code</a>
            <a href="cv">cv</a>
            <a href="gallery">photography</a>
        </div>
        <div>
            {% block content %} {% endblock %}
        </div>
    </body>
</html>